body{
    background-color: rgb(175, 62, 90);
    color: rgb(78, 0, 122);
    margin: 0px;
}

header{
    border-bottom: inset 3px rgb(226, 81, 141);
    padding: 15px;
    font-size: 30px;
    color: rgb(49, 211, 176)
}

h1{
    padding: 10px;
    font-size: 20px;
    color: rgb(148, 108, 185)
}

p{
    padding: 5px;
    font-size: 15px;
    color: rgb(59, 110, 221)
}

.chamada{
    background-color: rgb(49, 49, 46);
    padding-bottom: 80px;
    padding-top: 80px;
    display:flex;
    justify-content: center;
}

.chamada-texto{
    margin-right: 5%;
}

h2{
    padding: 15px;
    font-size: 30px;
    color: rgb(240, 207, 16)
}

img{
    height: 200px;
}

.categoria-videos{
    display: flex;
    overflow-x: auto;
    gap: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.categoria-videos img{
    opacity:0.5;
}

.categoria-videos img:hover{
    opacity:1.0;
    border: 2px solid yellow;
}